@import './base.css';

#app {
  max-width: 100vw;
  font-weight: normal;
}

.p-button {
  height: 2.5rem;
  background: #00d1cd !important;
  border: 1px solid #00d1cd;
}

.p-button:focus {
  box-shadow: 0;
  height: 2.5rem;
  border: 1px solid #00d1cd;
}

.p-button:hover {
  height: 2.5rem;
  background: #05c4c1 !important;
  border: 1px solid #10cdca;
}

td .p-button {
  color: #00d1cd !important;
  background: #ffffff !important;
  border: 0;
}

td .p-button:hover {
  color: #0e9997 !important;
  background: #ffffff !important;
  border: 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: #00d1cd;
  color: #00d1cd;
}

.p-inputtext:enabled:hover {
  border-color: #00d1cd;
}

.p-inputtext:enabled:focus {
  border-color: #00d1cd;
  box-shadow: 0 0 0 0.2rem #aef4f4;
}

.primary-text-color {
  color: #00d1cd !important;
}
.p-autocomplete {
  height: 2.2rem;
}

.p-divider.p-divider-horizontal:before {
  border-top: 2px #00d1cd;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.p-tabview-nav-content {
  border-radius: 5px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    grid-template-columns: 1fr 1fr;
  }
}

.btn-success {
  width: 155px;
  height: 35px;
}

.btn-cancel {
  width: 155px;
  height: 35px;
}
